<div>
  <h1>Register account</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" formControlName="username">
      <div *ngIf="registrationForm.get('username')?.hasError('required') && registrationForm.get('username')?.touched">
        This field is required
      </div>
      <div *ngIf="registrationForm.get('username')?.hasError('minlength')">
        Username must be at least 6 chars long
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" formControlName="password">
      <div *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched">
        This field is required
      </div>
      <div *ngIf="registrationForm.get('password')?.hasError('minlength')">
        Password must be at least 6 chars long
      </div>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
      <div
        *ngIf="registrationForm.get('confirmPassword')?.hasError('required') && registrationForm.get('confirmPassword')?.touched">
        This field is required
      </div>
      <div *ngIf="registrationForm.get('confirmPassword')?.hasError('minlength')">
        Password must be at least 6 chars long
      </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>
</div>
